.new-card{
  padding-left: 10px;
}
.recipeApp{
background-color: white;
display: flex;
margin: 10px 10px 10px 10px;
padding-left: 10px;
}

.cardhead{
  background-color: red;
}

.cardmedia{
  background-color: green;
}

.typo1{
  color: teal;

}

.card-content{
  background-color: pink;
}
